{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">DETAIL</h1>
<h2>{{ article.pk }} 번째 글</h2>
<hr>
<p>{{ article.title }}</p>
<p>{{ article.content }}</p>
<p>{{ article.create_at }}</p>
<p>{{ article.updated_at }}</p>
{% comment %} <a href="{% url 'articles:delete' article.pk %}">DElETE</a> {% endcomment %}
<form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('지우곘습니까??')">
  {% csrf_token %}
  <input type="submit" value="DELETE">
</form>
<a href="{% url 'articles:update' article.pk %}">EDIT</a>
<a href="{% url 'articles:index' %}">BACK</a>
<hr>

{% endblock content %}