{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% block css %}
  <link rel="stylesheet" href="{% static 'pages/stylesheet/style.css' %}">
  {% endblock css %}
</head>
<body>
{% block content %}
<h1>Static 파일 실습</h1>
<img src="{% static 'pages/images/images.jpg' %}" alt="static_img">
{% endblock content %}
  
</body>
</html>